* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
}

.current-day-icon {
  height: 100px;
  width: 100px;
}

.errors {
  position: absolute;
  background-color: red;
  top: 20px;
  padding: 5px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.8;
}

.upper-half {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 1fr 0.5fr; */
  grid-gap: 20px;
}

.search-city-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-city {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

.search-city-button {
  background-color: lightskyblue;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;

}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 60vw;
  height: 70vh;
  padding: 10px;
  /* border: 1px solid black; */
  background-color: black;
  color: white;
  align-items: center;
  border-radius: 5px;
}

/* current weather styles */
.current-title {
  font-size: 4rem;
  font-weight: bold;
}

.current-setting {
  font-size: 1.5rem;
  font-weight: bold;
}

/* other info styles */

.other-info-container {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.other-info-item {
  padding: 5px;
  height: 100px;
}

/* 10 day forcast styles */

.ten-day-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
}

.ten-day-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.ten-day-title {
  text-decoration: underline;
}

  /* desktop view */

  @media(min-width: 1920px) {
    .other-info-container {
      gap: 20px;
    }
    .other-info-item {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 768px) {
    .other-info-container {
      font-size: 1.4em;
    }

    .search-city-container {
      flex-direction: row;
    }

    .current-title {
      font-size: 2rem;
    }
  }

  @media (min-width: 792px) {
    .current-title {
      font-size: 4rem;
    }
  }

  @media (min-width: 992px) {
    .current-title {
      font-size: 3rem;
    }

    .current-setting {
      font-size: 2rem;
    }

    .current-temp {
      font-size: 2rem;
    }

    .other-info-container {
      font-size: 2rem;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    .ten-day-container {
      justify-content: center;
      overflow-x: hidden;
    }

    .ten-day-item {
      padding: 10px;
    }
  }

  @media (max-width: 500px) {
    .current-title {
      font-size: 2rem;
    }
  }